@font-face {
    font-family: forza-book;
    src: url(Forza-Book.otf);
}

@font-face {
    font-family: forza-med;
    src: url(Forza-Medium.otf);
}

body{
  margin: 0;
  font-family: forza-book;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display:flex;
  flex-direction: column;
  width: 413px;
  height: 736px;
  border: 1px solid black;
}

.top{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mid{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  font-size: 12px;
}

.email{
  display: flex;
  flex-direction: row;
}

.email-label, .password-label{
  color: #7F7975;
  display: flex;
  flex: 1;
  margin: 20px 30px;
}

.email-input, .password-input{
  display: flex;
  flex: 2;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: forza-book;
  letter-spacing: 0.1em;
  color: #ADD79E;
}

.password{
  display: flex;
  flex-direction: row;
}

.password-label{
  color: #7F7975;
  display: flex;
  flex: 1;
  margin: 20px 30px;
}

/*.password-input{
  display: flex;
  flex: 2;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: forza-book;
  color: #ADD79E;
}*/

.bottom{
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.buffer{
  display: flex;
  flex: 1;
}

.sign-in{
  background-color: #9CCF8A;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sign-up{
  background-color: #7D7773;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
